header.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500;
  background-color: transparent;
  padding: 35px 0px;
  transition: all 1s ease-in-out;
}
header.site-header:hover {
  background-color: #fff;
}
header.site-header::before,
header.site-header::after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clearfix::before {
  display: table;
  content: " ";
}
.clearfix::after {
  display: table;
  content: " ";
  clear: both;
}
.main-navigation {
  flex: 1;
  width: auto;
}
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-menu li {
  margin-right: 40px;
  display: inline-block;
  position: relative;
}
.nav-menu a {
  font-size: 12px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: block;
  line-height: 2.14;
}
.site-navigation li.current-menu a::after {
  width: 100%;
  left: 0;
}
.site-navigation a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  transition: all 0.5s;
  width: 0;
  height: 2px;
  background-color: #23232c;
}
.site-header .row {
  padding: 0px 15px;
}
.site-header .site-branding {
  width: auto;
  text-align: center;
}
.site-branding .logo {
  font-family: "Permanent Marker", cursive;
  transition: 0.5s;
  display: inline-block;
  position: relative;
  line-height: 1;
  color: #000;
  font-size: 24px;
}

.site-branding h1.site-title {
  display: none;
}
.site-branding .site-description {
  display: none;
}

.header-icon {
  flex: 1;
  text-align: right;
}

.header-icon ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.header-icon li {
  display: inline-block;
  margin-right: 25px;
}
.header-icon .menu-item a:hover {
  color: #000;
}
.header-icon li.menu-item-cart {
  position: relative;
  padding-right: 25px;
}
.header-icon span.count {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 18px;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  background-color: #23232c;
  transition: all 0.5s;
}
.toggle-nav {
  color: #000;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 40px 0 0;
  vertical-align: top;
}
.toggle-nav .icon-nav {
  position: absolute;
  border-bottom: 2px solid;
  top: 50%;
  left: 0;
  width: 18px;
  height: 2px;
  margin-top: -1px;
  transition: 0.5s;
}
.toggle-nav .icon-nav::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid;
  transition: transform 0.5s;
}
.toggle-nav .icon-nav::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid;
  transition: transform 0.5s;
}
.hidden-lg {
  display: none !important;
}
